body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(0.5turn,#d69e42, 10%, #ffffff);
}
.header {
    color: gray;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}
.header a {
    text-decoration: none;
    color: gray;
}
.header a:hover {
    color: black;
}
.container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
}

.left {
    margin-right: 20px; /* Задайте нужное смещение */
    text-align: center;
    position: relative;
    bottom: 40px;
}
.headline{
    margin: 0;
    padding: 0;
}
.othertxt{
    margin: 30px 0 0 0;
}
h1 {
    font-size: 45px;
    margin: 0 /* Задайте нужный отступ между текстовыми блоками */
}
h2{
    font-size: 25px;
    margin: 0
}
.google_btn{
    position: relative;
    top: 20px;
}
.google_btn a img {
    height: 125px;
}
.right {
    margin-left: 140px; /* Задайте нужное смещение */
}
.right img {
    position: relative;
    bottom: 25px;
}