body {
    margin: 70px 140px 0 140px;
}
.head_line {
    margin-bottom: 60px;
}
.update_date {
    font-weight: bold;
}
.container {

}
.content {

}
.footer {
    position: fixed;
    bottom: 170px;
    width: 100%;
}